@charset "utf-8";

@media only screen and (orientation: portrait) {
html {
	font-size: 4.266666vw;
}
}

@media only screen and (min-width: 640px) and (orientation: portrait) {
html {
	font-size: 3.124999vw;
}
}

@media only screen and (orientation: portrait) {
.container {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.header .rating {
	display: none;
}
.top-text {
	padding-top: 4.5rem;
	font-size: 1.125rem;
	line-height: 1.388;
}
.top-text h1, .top-text .h1 {
	font-size: 1.875rem;
	line-height: 1.1;
}
.download {
	margin-top: 1.25rem;
}
.download > * {
	min-width: 9.5rem;
	line-height: 1.071;
	font-size: 0.875rem;
	padding-left: 3.25rem;
	margin-left: 0.625rem;
}
.download > *:first-child {
	margin-left: 0;
}
.download img {
	left: 1.625em;
}
.download small {
	line-height: 1.1;
	font-size: 0.625rem;
	margin-bottom: 0.25rem;
}
.section-tel1 {
	padding-top: 0;
	margin-bottom: -100vh;
}
.section-tel1 .section-content {
	-webkit-transform: none!important;
	        transform: none!important;
	margin-top: calc(-200vw - 10rem);
	margin-bottom: -100vh;
	overflow: hidden;
}
.tel1-circle-place {
	top: -33vh;
}
.tel1-main {
	-webkit-transform: scale(1)!important;
	        transform: scale(1)!important;
}
.tel1-addit.left {
	-webkit-transform: scale(0.62) rotate(-10deg) translate3d(-50%, 5%, 0);
	        transform: scale(0.62) rotate(-10deg) translate3d(-50%, 5%, 0);
}
.tel1-addit.right {
	-webkit-transform: scale(0.62) rotate(10deg) translate3d(50%, 5%, 0);
	        transform: scale(0.62) rotate(10deg) translate3d(50%, 5%, 0);
}
.tel1-addit {
	display: none;
	visibility: hidden;
}
.tel1-addit.left .tel-screen, .tel1-addit.right .tel-screen {
	background: none;
}
.section-tel1 .go-scale {
	height: 50vh;
}
.section-tel1 .go-search {
	height: 100vh;
}
.section-pics .pics__bg {
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	background-image: url(../img1/all-mob-d4e87761635d856db06926294017cc28.jpg);
}
.section-tel2 .section-content-bg {
	background-image: url(../img1/all-mob-b-ec3720d1e4b80222ae5fc116d2f71bc3.jpg);
	height: 113vh;
}
.section-pics .pic-place {
	left: 50%;
	height: 23.63vh;
	width: 27.093vh;
	min-width: 0;
	margin: -11.815vh -13.5465vh;
}
.section-pics .pic-place, .section-pics .pic-place * {
	border-radius: 1.5rem;
}
.section-pics .pic-place.pos1 > * {
	border-radius: 9rem;
}
.section-pics .pic-place.pos27 {
	z-index: auto;
	display: none;
}
.section-pics .pic-place.pos22 {
	z-index: 1;
}
.section-pics .pic-place.pos22 .bg-here {
	background-image: url(../img1/pics/27-f5497ef60f03806d9cac4bd8537e5dba.jpg);
}
.section-pics .pic-place.pos27 .bg-here {
	background-image: url(../img1/pics/22-b98b6bb2925dbb2d208d58eaa83d17ee.jpg);
}
.section-pics.is-bounce .pic-place.pos27 .in > * > * {
	-webkit-animation: none;
	        animation: none;
}
.section-pics.is-bounce .pic-place.pos22 .in > * > * {
	-webkit-animation-name: cardenter-vert;
	        animation-name: cardenter-vert;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}
.section-pics.hide-bounce .pic-place.pos22 .in > * > * {
	-webkit-animation: none;
	        animation: none;
	display: none;
}
.section-pics .text {
	font-size: 1.125rem;
	line-height: 1.555;
	padding: 2.9375rem 0;
}
.section-pics .text h1, .section-pics .text .h1 {
	margin-bottom: 0.625rem;
	font-size: 2.125rem;
	line-height: 1.114;
}
.section-pics .text .b {
	padding-top: 6.25rem;
}
.section-pics .text ul {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1.375rem;
	line-height: 1.227;
}
.section-pics .text li {
	margin: 1.875rem 0 0 0;
	padding: 0;
	width: auto;
}
.section-pics .text li:first-child {
	margin-top: 0;
}
.section-pics .text li small {
	line-height: 1.214;
	font-size: 0.875rem;
	margin-top: 0.3125rem;
}
.section-tel2 .section-content {
	overflow: hidden;
}
.section-tel2.is-bounce .tel2-tel-wrap {
	-webkit-animation-name: telenter-vert;
	        animation-name: telenter-vert;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}
.section-tel2.hide-bounce .tel2-tel-wrap {
	-webkit-animation: none;
	        animation: none;
}
.section-tel2.is-bounce .tel2-main .tel-screen .screen2, .section-tel2.is-bounce .tel2-main .tel-screen .place {
	-webkit-transition-delay: 0.5s;
	        transition-delay: 0.5s;
}
.section-tel2 .side-text {
	font-size: 1.125rem;
	line-height: 1.388;
}
.section-tel2 .side-text .text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0!important;
	right: 0!important;
	width: 100%;
	height: 100%;
	max-width: none;
	text-align: center;
	-webkit-transform: none!important;
	        transform: none!important;
	padding: 0 0.9375rem;
	opacity: 0;
}
.side-text .text-crop {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)!important;
	        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)!important;
	height: 50%;
	opacity: 1;
}
.section-tel2 .side-text .text-crop.to-left {
	top: 0;
	bottom: auto;
}
.section-tel2 .side-text .text-crop.to-right {
	bottom: 0;
	top: auto;
}
.section-tel2 .side-text h1, .section-tel2 .side-text .h1 {
	font-size: 2.0625rem;
	line-height: 1.09;
}
.section-tel2 .side-text .download {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.section-tel2 .map-place {
	width: 22.1875rem;
	-webkit-transform: none!important;
	        transform: none!important;
}
.map-texts .in {
	-webkit-transform: translate3d(0, -40%, 0);
	        transform: translate3d(0, -40%, 0);
	padding-left: 2.9375rem;
	padding-right: 2.9375rem;
}
.map-texts .in .img {
	height: 100vh;
	max-height: none;
	background: #f00;
}
.map-texts .in img:nth-child(1) {
	opacity: 0;
}
.map-texts .in img:nth-child(2) {
	opacity: 1;
}
.show-maptext1 .map-texts .in.text1, .show-maptext2 .map-texts .in.text2 {
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	        transform: translate3d(0, -50%, 0);
}
.hide-maptext1 .map-texts .in.text1, .hide-maptext2 .map-texts .in.text2 {
	opacity: 0;
	-webkit-transform: translate3d(0, -60%, 0);
	        transform: translate3d(0, -60%, 0);
}
.map-texts h1, .map-texts .h1 {
	font-size: 2.25rem;
	line-height: 1.1111;
}
.section-tel2 .go-maptext1, .section-tel2 .go-maptext2 {
	height: 200vh;
}
.section-tel2 .go-rotate-back {
	height: 200vh;
}
.section-tel2 .go-map-cards {
	display: none;
}
.section-tel2.is-rotate-back .tel2-tel-wrap .tel-bg {
	opacity: 1!important;
	-webkit-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.section-tel2 .go-rotate {
	height: 25vh;
}
.section-tel2 .show-text1, .section-tel2 .hold-text1, .section-tel2 .hide-text1, .section-tel2 .show-text2, .section-tel2 .hold-text2, .section-tel2 .hide-text2, .section-tel2 .go-rotate, .section-tel2 .go-scale, .section-tel2 .go-mapbg, .section-tel2 .go-rotate-back, .section-tel2 .go-map-cards, .section-tel2 .map-place, .section-tel2 .map, .section-tel2 .map-texts, .section-tel2 .side-text {
	display: none;
}
.section-tel2.is-scaled .tel2-tel-wrap .tel-screen > .screen3, .section-tel2.is-scaled .tel2-tel-wrap .tel-screen > .screen4, .section-tel2.is-scaled .tel2-tel-wrap .tel-screen > .screen5 {
	display: none!important;
}
.map-cards {
	display: none;
	visibility: hidden;
}
.section-tel3 {
	display: block;
	visibility: visible;
}
.section-tel3 .section-content {
	overflow: hidden;
}
.section-tel3 .map-place {
	width: 22.1875rem;
	-webkit-transform: none!important;
	        transform: none!important;
}
.section-tel3 .go-maptext1, .section-tel3 .go-maptext2 {
	height: 200vh;
}
.section-tel3 .go-rotate-back {
	height: 200vh;
}
.section-tel3.is-rotate-back .tel3-tel-wrap .tel-bg {
	opacity: 1!important;
	-webkit-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.section-tel3 .go-rotate {
	height: 25vh;
}
.section-mob-side-text {
	display: block;
	visibility: visible;
}
.section-bottom {
	padding-top: 5rem;
	font-size: 1.125rem;
	line-height: 1.388;
}
.section-bottom .bottom-video {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.section-bottom .bottom-video video {
	width: 300%;
	left: -100%;
}
.section-bottom .bottom-video:before {
	padding-top: 168.75%;
}
.section-bottom .container > * {
	padding-bottom: 5rem;
}
.section-bottom h1, .section-bottom .h1 {
	line-height: 1.09;
	font-size: 2.0625rem;
	margin-bottom: 0.625rem;
}
.section-bottom .center {
	font-size: 2.5rem;
	line-height: 1.111;
}
.section-bottom .center ul {
	display: block;
	margin: 0;
	padding: 0;
}
.section-bottom .center li {
	margin: 1.875rem 0 0 0;
	width: auto;
}
.section-bottom .center li:first-child {
	margin-top: 0;
}
.section-bottom .bottom {
	padding-bottom: 2.5rem;
	display: block;
}
.section-bottom .bottom .l {
	text-align: center;
	margin-bottom: 1.25rem;
}
.section-bottom .bottom .c {
	text-align: center;
	margin-bottom: 2.5rem;
}
.section-bottom .bottom .r {
	text-align: center;
}
.section-bottom .bottom ul {
	-webkit-box-pack: center!important;
	    -ms-flex-pack: center!important;
	        justify-content: center!important;
}
}
